body{
    background-color: #0d1a2d;
    font-family: 'Outfit', sans-serif;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.card{
    background-color: #15273f;
    width: 265px;
    height: 450px;
    display: block;
    border-radius: 7px;
    
}
.img{
    width: 100%;
    border-radius: 5%;
}
img {
    width: 225px;
    margin: 20px;
    border-radius: 5px;
}
.img-div-root{
    overflow: hidden;
}

/* content */

.content{
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    margin-top: 0px;
    font-size: 1em;
    color: white;
    letter-spacing: 2px;
    
}
p{
    color: #96aecb;
    line-height: 1.5em;
    font-size: 13px;
    letter-spacing: 0.45px;
    margin-bottom: 8px;
}
.content2{
    display: flex;
    justify-content: space-between;
    
}
.svgdiv{
    width: 100%;
    display: flex;
}
.svg{
    width: 10px;
    margin: 13px 10px 10px 0px;
}
.svgp{
    color: #2fe2df;
    font-weight: bold;
}
.clockdiv{
    width: 100%;
    display: flex;
}
.clock{
    width: 15px;
    margin: 13px 10px 10px 20px;

}